.home{
    display: flex;
    padding: 2rem 0;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.searchForm{
    display: flex;
    gap: 1rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
}

.searchInput{
    padding: 7px;
    padding-left: 10px;
    font-size: 1.2rem;
    background-color: unset;
    border: 2px solid rgb(120, 134, 199);
    border-radius: 99px;
    transition: 0.2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.searchInput:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchInput:focus{
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchButton{
    border: none;
    background-color: unset;
    position: relative;
    right: 50px;
    color: rgb(39, 41, 72);
    cursor: pointer;
}

.trending{
    margin: 0 auto;
    margin-bottom: 10px;
}

.scrollContainer{
    display: flex;
    overflow-x: scroll;
}