*{
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{
    background-color: #FFF2F2;
    margin: 0;
    width: 100%;
    position: relative;
    min-height: 100vh;
}