.posterWrapper {
  padding: 15px;
  display: flex;
}

.moviePoster {
  height: 450px;
  border-radius: 20px;
}

.movieInfo {
  display: flex;
  flex-wrap: wrap;
}

.movieBack {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%; /* Гарантирует, что .movieBack имеет высоту */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden; /* Обрезает выходящие элементы */
}

.backDrop {
  width: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.75;
  filter: blur(2px);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75) 5%,
    rgba(255, 255, 255, 0) 40%
  );
}



.movieTitle {
  font-size: 36px;
  font-weight: 600;
}

.releaseDate {
  position: relative;
  /* top: 6px; */
}

.movieCountry {
  position: relative;
  align-self: center;
  top: 6px;
  font-size: 24px;
  /* border: 1px solid red; */
}

#header {
  display: flex;
  /* justify-content: center; */
}

.movieTagline {
  font-weight: 600;
}

.infoWrapper {
  padding: 15px;
  /* border: 1px solid red; */
}

.mainInfo {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: row;
  /* border: 1px solid red; */
}

.rightSide{
  display: flex;
  overflow-wrap: anywhere;
  flex-direction: column;

}

.movieCountry img {
  position: relative;
}

@media (max-width: 768px) {

  .movieBack {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .backDrop {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
    filter: blur(2px);
  }
  
  .blur {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.75) 5%,
      rgba(255, 255, 255, 0) 40%
    );
  }
  
  /* .movieBack {
    display: unset;
    width: 100%;
    height: auto;
  }

  .backDrop {
    display: unset;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -2;
    opacity: 0.75;
    filter: blur(0.5px);
  }

  .blur {
    display: unset;
    z-index: -1;
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 50%
    );
    height: 100%;
    width: 100%;
  } */

  .posterWrapper {
    padding: 0px;
  }

  .rightSide {
    background-color: rgb(46, 52, 108, 0.3);
    border-radius: 20px;
    height: 196px;
    border: 2px solid rgb(46, 52, 108, 0.4);
    z-index: -1;
  }

  .moviePoster {
    height: 200px;
    border-radius: 20px;
  }

  .mainInfo {
    padding: 20px;
  }

  .movieTitle {
    color: white;
    font-size: 30px;
    flex-wrap: wrap;
  }

  .releaseDate,
  .movieTagline {
    font-weight: 600;
    color: white;
    align-self: normal;
    margin-bottom: 4px;
  }

  .movieTagline {
    color
  }
}
