.navbar{
    background-color: #2D336B;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.75rem 2.5rem;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    
    
}

.navbar-links{
    display: flex;
    gap: 2rem;
}

.navbar-brand a{
    color: white;
}

.nav-link{
    color: white;
    transition: 0.2s;
}

.nav-link:hover{
    color: red;
}